<div ng-controller="friendsController">
  {{ friends }}
  <friend></friend>
  <friend></friend>
  <friend></friend>

<!--   <div class="row" ng-repeat="post in posts">
      <div class="col-lg-1 col-lg-offset-1" >
        <img src="./assets/images/user1.png" alt="User1" style="float:left;width:50px;height:50px;  border-radius: 50%; margin-top:30px;">
      </div>
      <div class="col-lg-10" id="posts">
        <h6 style="color:#838384" >{{post.created_at}}</h6>
      </div>

      <div class="col-lg-9 col-lg-offset-2">
         Post ID: {{post.id}}
         <br/>
         Created By: {{post.user_id}}
         <br/>
         Body: {{post.body}}
         <br/>
      </div>
  </div> -->
</div>

