<div class="row" id="comments_body">
  <div class="row" id="comments_header">
    <div class="col-lg-1">
      <img src="assets/images/user1.png" alt="User1" class="header_pic" >
    </div>
    <div class="col-lg-4">
      <h5 class="header_user"><b>User {{comment.user_id}}</b></h5>
      <h6 class="header_date">{{comment.created_at}}</h6>
    </div>
    <div class="col-lg-1 col-lg-offset-6" ng-if="comment.user_id===user.id">
      <button type="button" class="btn btn-default" id="btn_delete" onfocus="this.blur();"
        ng-click="deletePost(comment.id)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </div>
  <div class="col-lg-11" id="comments_caption">
    <p>{{comment.caption}}</p>
  </div>
</div>
