body{
	background-image: url(../images/green_theme.png);
	background-attachment: fill;
	background-size: cover;
	height: 500px;
	width :100%;

}
#header{
	color: #ffffff;
	font-size: 120%;
	margin-top: 20px;
}
#tab {

	background-color: #ffffff;
	opacity:0.9;
	border-radius: 15px 15px 15px 15px;
	float:center;
}
#SignUp , #Login {
	padding: 20px;
}
#feedP {
	background-color: #00cc66;
	color: #ffffff;
	font-size: 120%;
	padding: 10px;
}
#search{
	padding-top: 15px;
}
#nav
{
    background-color:#00cc66;
    height:850px;
	color: #ffffff;
}
#body {
	background-color:#ffffff;
    height:850px;
	color: #000000;
	opacity: 0.9;
}
.green a:hover,
.green .active a,
.active a:hover {
    background-color: #148b3b !important;
     }
#textArea , #btn , #posts
{
	margin-top: 15px;
}

.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;

    i {
        color: #fff;
    }
}

.notification-counter {
    position: absolute;
    top: -2px;
    left: 12px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}



// For demo purposes only
body {
    font-family: Arial;
}

ul {
    background: #000;
    width: 100%;
    height: 50px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
