<a ng-href="#/people/{{user.id}}" class="btn btn-primary top-button">
  <div>
    <i class="fa fa-user button-img"></i>
    <br>
    Profile
  </div>
</a>
<a ui-sref="friends" class="btn btn-primary top-button">
  <div>
    <i class="fa fa-users button-img"></i>
    <!-- <img src="./assets/images/group44.svg" alt="a"> -->
    <!-- <img src="./assets/images/multiple25.png" alt="a"> -->
    <br>
    Friends
  </div>
</a>
<a ui-sref="home" class="btn btn-primary top-button" style="background-color: #2D5F8A;">
  <div>
    <i class="fa fa-home button-img"></i>
    <!-- <img src="./assets/images/home153.svg" class="logo-img" alt="a"> -->
    <br>
    Home
  </div>
</a>

<a ui-sref="requests" class="btn btn-primary top-button">
  <div>
    <i class="fa fa-plus button-img"></i>
    <br>
    Requests
  </div>
</a>
<a ui-sref="notifications" class="btn btn-primary top-button">
  <div>
    <i class="fa fa-globe button-img"></i>
    <br>
    Notifications
  </div>
</a>
