{{ notifications.length }}
<table class="table table-hover" id="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Action</th>
      <th>post id</th>
      <th>read?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="notification in notifications">
      <!-- <notification></notification> -->
      <th scope="row"> {{ notification.username }} </th>
      <td> {{ notification.action }} </td>
      <td>
        <a ng-href="#/post/{{notification.post_id}}">
          {{ notification.post_id }}
        </a>
      </td>
      <td>{{ notification.read_bool }}</td>
    </tr>
  </tbody>
</table>
