
  <div class ="row" id="not-body" ng-repeat="notification in notifications">
      
      <div ng-if="notification.action_type == 'commented'">
            <div class="col-lg-1 col-lg-offset-1" id="not-pic">
              <i class="fa fa-comment-o fa-2x" id="symbol"></i>
            </div>
            
            <div class="col-lg-8" id="not-content">
              <a ng-href="#/post/{{notification.post_id}}" style="color:Black">
                <h5 scope="row" ><b>{{ notification.username }} </b> Commented on your post</h5> 
                <h6 class="text-muted">{{ notification.created_at }}</h6>
              </a>
            </div>
            
            <div ng-if="notification.is_seen == 0">
              <div class="col-lg-1" style="padding:20px;">
                <i class="fa fa-check-circle-o fa-lg" style="color:grey"></i>
              </div>
            </div>
            
            <div ng-if="notification.is_seen == 1">
              <div class="col-lg-1" style="padding:20px;">
                  <i class="fa fa-check-circle fa-lg" style="color:green"></i>
              </div>
            </div>

            <hr>
      </div>

      <div ng-if="notification.action_type == 'liked'">
          
          <div class="col-lg-1 col-lg-offset-1" id="not-pic">
            <i class="fa fa-heart-o fa-2x" id="symbol" ></i>
          </div>
          
          <div class="col-lg-8" id="not-content">
            <a ng-href="#/post/{{notification.post_id}}" style="color:Black">
              <h5 scope="row" ><b>{{ notification.username }} </b> Liked your post</h5>    
              <h6 class="text-muted">{{ notification.created_at }}</h6>
            </a>
          </div>

          <div ng-if="notification.is_seen == 0">
            <div class="col-lg-1" style="padding:20px;">
              <i class="fa fa-check-circle-o fa-lg" style="color:grey"></i>
            </div>
          </div>

          <div ng-if="notification.is_seen == 1">
            <div class="col-lg-1" style="padding:20px;">
                <i class="fa fa-check-circle fa-lg" style="color:green"></i>
            </div>
          </div>
          
          <hr>
      </div>
    
  </div>

<!--{{ notifications.length }}
<table class="table table-hover" id="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Action</th>
      <th>post id</th>
      <th>read?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="notification in notifications">
      <th scope="row"> {{ notification.username }} </th>
      <td> {{ notification.action_type }} </td>
      <td>
        <a ng-href="#/post/{{notification.post_id}}">
          {{ notification.post_id }}
        </a>
      </td>
      <td>{{ notification.is_seen }}</td>
    </tr>
  </tbody>
</table>
-->
