<div class="col-xs-12" id="result"> 
  <div class="right-arrow">

    <div class ="row" id="not-body">
      <div class="col-lg-1" id="not-pic">
            <img src="images/user.jpg" alt="User1" class="header_pic" >
      </div>
      <div class="col-lg-8 col-lg-offset-2" id="not-content">
        <h5>
        <b>Username</b></h5>
        <h6>Alexandria,Egypt</h6>
      </div>
    </div>

    <hr>
    <div class ="row" id="not-body">
      <div class="col-lg-1" id="not-pic">
            <img src="images/user.jpg" alt="User1" class="header_pic" >
      </div>
      <div class="col-lg-8 col-lg-offset-2" id="not-content">
        <h5>
        <b>Username</b></h5>
        <h6>Alexandria,Egypt</h6>
      </div>
    </div>
  
  </div>

</div>
<div class = "col-lg-12" id="search" style="padding:20px;">
          <input type="text" class="form-control"  id ="search-bar" placeholder='&#xF002;   Search for..'>   
</div>


<script>
  $('#search').keypress(function(event){
    var text1 = $('#search-bar').val().length;
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13' && text1 !=0)
      {
      $(".right-arrow").toggle(100);
      }
  });
</script>
