<strong>Suggestions</strong>
<!-- <ul style="list-style-type: none; padding: 0px;">
  <li><suggested-friend></suggested-friend></li>
  <li><suggested-friend></suggested-friend></li>
  <li><suggested-friend></suggested-friend></li>
</ul>
<div> -->
  <div suggested-friend style="display: table;"></div>
  <div suggested-friend style="display: table;"></div>
  <div suggested-friend style="display: table;"></div>
  <!-- <div suggested-friend style="display: -webkit-inline-box;"></div> -->
  <!-- <div suggested-friend style="display: -webkit-inline-box;"></div> -->
  <!-- <div ng-include="'suggestion_friend_block.html'"></div> -->
  <!-- <div ng-include="'suggestion_friend_block.html'"></div> -->
  <!-- <div ng-include="'suggestion_friend_block.html'"></div> -->
  <!-- <div ng-include="'suggestion_friend_block.html'"></div> -->