<div class="row" id="comments_body">
  <div class="row" id="comments_header">
    <div class="col-lg-1">
      <img src="{{ post.commenter_profile_picture }}" alt="User1" class="header_pic" >
    </div>
    <div class="col-lg-4">
      <h5 class="header_user">
        <b>
          <a ng-href="#/people/{{comment.user_id}}" target="_blank" class="header_user">
          @{{ comment.username }}
          </a>
        </b>
      </h5>
      <h6 class="header_date">{{comment.created_at}}</h6>
    </div>
    <div class="col-lg-1 col-lg-offset-6" ng-if="comment.user_id===user.id">
      <button type="button" class="btn btn-default" id="btn_delete" onfocus="this.blur();"
        ng-click="deleteComment(comment)">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
  <div class="col-lg-11" id="comments_caption">
    <p ng-bind-html="comment.caption | colonToSmiley"/>
  </div>
</div>
