<div class="well well-lg" id="post">
  <!--post header-->
  <div class="row" id="post_header">
    <div class="col-lg-1">
      <img alt="User1" class="header_pic" src="assets/images/user1.png">
    </div>
    <div class="col-lg-4">
      <h4 class="header_user">
          <b>
            <a ng-href="#/people/{{post.user_id}}" target="_blank" class="header_user">
            @{{ post.username }}
            </a>
          </b>
      </h4>
      <h6 class="header_date" ng-if="link">
          {{ post.created_at }}
      </h6>
      <h6 class="header_date" ng-if="!link">
        <a ng-href="#/post/{{post.id}}" target="_blank" class="header_date">
          {{ post.created_at }}
        </a>
      </h6>

    </div>
  </div>

  <!--post body-->
  <div class="row" id="post_body">
    <div class="col-lg-12" id="post_caption">
      <p ng-bind-html="post.caption | colonToSmiley"/>
    </div>
  </div>

  <!--comment_control-->
  <hr class="hr">
  <div id="comment_control">
    <div class="btn-group" role="group">
      <button class="btn btn-default" id="btn_like" onfocus="this.blur();"
        ng-if="!post.liked" type="button" ng-click="likePost(post)">
        <i class="fa fa-thumbs-o-up fa-lg"></i>
        Like
      </button>
      <button class="btn btn-default" id="btn_like" onfocus="this.blur();"
        ng-if="post.liked" type="button" ng-click="unlikePost(post)">
        <i class="fa fa-thumbs-up fa-lg"></i>
        Liked
      </button>
      <!-- <button lass="btn btn-default" id="btn_like" onfocus="this.blur();">
        {{ post.likes.length }}
      </button> -->
      <button class="btn btn-default" id="btn_comment" onfocus="this.blur();" type="button">
        <i class="fa fa-commenting-o fa-lg"></i>
        Comment</button>
    </div>
  </div>
  <hr class="hr">

  <!--comments-->
  <div ng-repeat="comment in post.comments | orderBy:'created_at'">
    <comment></comment>
  </div>

  <!--commenting-->
  <div class="row" id="commenting_body">
    <div class="col-lg-1">
      <img alt="User1" src="assets/images/user1.png" style="float:left; width:45px; height:45px;border-radius: 30%;">
    </div>
    <div class="col-lg-11">
      <div class="input-group">
        <input class="form-control" id="comment_caption" placeholder="Comment" type="text" ng-keyup="keyPressed($event, post)" ng-model="post.comment">
        <span class="input-group-btn">
          <button class="btn btn-default" id="btn_pic" onfocus="this.blur();" type="button">
            <i class="fa fa-camera-retro fa-lg"></i>
          </button>
          <button class="btn btn-default" id="btn_emoji" onfocus="this.blur();" type="button">
            <i class="fa fa-smile-o fa-lg"></i>
          </button>
        </span>
      </div>
    </div>

  </div>

</div>
