<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Where there is no body except us.">
    <meta name="author" content="Ahmed Atef">
    <title>Vacebook</title>

    <!-- CSS Includs -->
    <link rel="stylesheet" href="assets/css/flatly-bootstrap.css">
    <link rel="stylesheet" href="assets/css/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/font.css">
    <link rel="stylesheet" href="assets/css/post.css">
    <link rel="stylesheet" href="assets/css/emoji.min.css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css"/>
    <!-- <link rel="stylesheet" href="assets/css/demo.css" type="text/css"/> -->
    <link rel="stylesheet" href="assets/css/ns-default.css" type="text/css"/>
    <link rel="stylesheet" href="assets/css/ns-style-other.css" type="text/css"/>
    <!-- <link rel="stylesheet" type="text/css" href="css/ns-style-bar.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/ns-style-growl.css" /> -->
  </head>

  <!-- <body ng-app="home" ng-controller="home_controller" onload="runOnce()"> -->
  <body onload="runOnce()">
  <!-- <body> -->
    <div style="padding: 0; width: 100%;">
      <!-- Title -->
      <div class="row" style="background-color: #FAFAFA; color: #2C5D87; margin: 0;">
        <div class="col-xs-12 text-center">
          <h1 class="text-center" style="font-family: Pacifico; margin: 15px 0;">Vacebook</h1>
        </div>
      </div>
      <!-- ./Title -->

      <!-- TopBar -->
      <div style="overflow: hidden; opacity: 0; width: 0px; height:0px;"><img src="assets/images/cat.jpg"/></div>
      <div class="row" style="background-color: #13141A; height: 100px; margin: 0;" ng-include="'partials/navbar.html'"></div>
      <!-- ./TopBar -->

      <!-- Page -->
      <div class="row" style="background-color: #FFFFFF; margin: 0;">

        <div class="left-col">
          <div ng-include="'partials/about.html'"></div>
        </div>

        <div class="middle-col">
          <div ui-view style="width: 100%;"></div>
        </div>

        <div class="right-col">
          <div ng-include="'partials/suggestions.html'"></div>
        </div>

      </div>
      <!-- ./Page -->

    </div>

    <!-- JS Includs -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.js"></script>
    <script src="assets/js/angular-animate.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script src="assets/js/index_atef.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/angular_controllers/homeController.js"></script>
    <script src="assets/js/angular_controllers/friendsController.js"></script>
    <script src="assets/js/angular_controllers/userPorfileController.js"></script>
    <script src="assets/js/angular_controllers/notificationsController.js"></script>
    <script src="assets/js/angular_controllers/postController.js"></script>
    <script src="assets/js/angular_controllers/postBlockController.js"></script>
    <script src="assets/js/angular_controllers/newPostBlockController.js"></script>
    <script src="assets/js/angular_controllers/requestsController.js"></script>
    <script src="assets/js/angular_controllers/peopleSuggesstionsController.js"></script>
    <script src="assets/js/pusher.min.js"></script>
    <script src="assets/js/snap.svg-min.js"></script>
    <script src="assets/js/config.js"></script>
    <script src="assets/js/emoji.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/classie.js"></script>
    <script src="assets/js/notificationFx.js"></script>
  </body>

</html>
